<%- include('header') %>

<div class="jumbotron jumbotron-fluid my-5">
  <div class="container">
    <h1 class="display-4">Hello <%= admin.fname %></h1>
    <p class="lead">This is the admin page you can check your capabilities from above</p>
  </div>
</div>


<%- include('../footer.ejs') %>