<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet" />
    <link rel="icon" href="./images/logo.png" type="image/icon" />
    <link rel="stylesheet" href="../../styles/user-page-style.css" />

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="#"><img src="images/logo.png" alt="logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ">

                    <li class="nav-item">
                        <a class="nav-link" href="./admin-page.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./admin-page.html">Reports & Notifications</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <a href="#">
                        <button class="btn btn-outline-success  my-2 my-sm-0 ml-4" type="submit" id="log"
                            onclick="window.location.href='index.html'">
                            Logout
                        </button>
                    </a>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                <div class="rounded">
                    <div class="table-responsive table-borderless">
                        <h1>All Reports</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Client Name</th>
                                    <th>Package Number #</th>
                                    <th>Category</th>
                                    <th>Payment Amount</th>
                                    <th>Payment Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <tr class="cell-1">
                                    <td>Gasper Antunes</td>
                                    <td>#SO-13487</td>
                                    <td><span class="badge badge-success">Fullfilled</span></td>
                                    <td>$2674.00</td>
                                    <td>Today</td>
                                    <td><a class="btn" href="#"><i class="icon-edit"></i>Edit</a></td>
                                </tr>
                                <tr class="cell-1">
                                    <td>Aartsen van</td>
                                    <td>#SO-13453</td>
                                    <td><span class="badge badge-info">Confirmed</span></td>
                                    <td>$3454.00</td>
                                    <td>Yesterday</td>
                                    <td><a class="btn" href="#"><i class="icon-edit"></i>Edit</a></td>

                                </tr>
                                <tr class="cell-1">
                                    <td>Trashes Habard</td>
                                    <td>#SO-13498</td>
                                    <td><span class="badge badge-danger">Partially shipped</span></td>
                                    <td>$6274.00</td>
                                    <td>May 12,2020</td>
                                    <td><a class="btn" href="#"><i class="icon-edit"></i>Edit</a></td>

                                </tr>
                                <tr class="cell-1">
                                    <td>Samban Hubart</td>
                                    <td>#SO-16499</td>
                                    <td><span class="badge badge-success">Fullfilled</span></td>
                                    <td>$6375.00</td>
                                    <td>May 11,2020</td>
                                    <td><a class="btn" href="#"><i class="icon-edit"></i>Edit</a></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>