<%- include('../header') %>

<main class="container">
  <a class="btn btn-info mb-3" href="/admin/reports" role="button">Back</a>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <tbody>

      <% counts.forEach(count => { %>
        <tr>
          <th scope="row"><%= count.Type%></th>
          <td><%= count.Count %></td>
        </tr>
      <%})%>
    

    </tbody>
  </table>
</main>

<%- include('../../footer.ejs') %>