
<%- include('header') %>
<main class="container">

  <div class="jumbotron jumbotron-fluid my-5">
    <div class="container">
      <h1 class="display-4">Hello world!</h1>
      <p class="lead">
        This is PDS website, it is package delivery system webiste, where you can send/recieve packages with minimum cost! Let's begin now!
      </p>

      <h5 class="font-weight-bold mb-3">Choose your user type:</h5>
      <div class="row d-flex justify-content-around mt-3">
        <div class="col-sm-6">

          <div class="input-box button">
            <a href="/login">Login as Customer</a>
          </div>

        </div>
        <div class="col-sm-6">
          <div class="input-box button">
            <a href="/login">Login as Admin</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<%- include('footer') %>