<div class="modal fade" id="customerPackage" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="customerPackageLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="customerPackageLabel">List Packages of a Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/reports/packages/customer" method="post">
        <div class="modal-body">

          <div class="form-group">
            <label for="customer">Customer</label>
            <select class="form-control" name="customer_id" id="customer">
              <% if (customers.length) { %>
                <%customers.forEach(customer => { %>
                    <option value="<%= customer.U_SSN %>"><%= customer.U_SSN %> - <%= customer.Fname %> <%= customer.Lname %></option>
              <% }) } else { %>
                <option value="">-- No customers yet -- </option>
              <% } %>
            </select> 
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Get Report</button>
        </div>
      </form>
    </div>
  </div>
</div>