<div class="modal fade" id="payments" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="paymentsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentsLabel">Payments Report</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/reports/payments" method="post">
        <div class="modal-body">
          <button type="submit" class="btn btn-primary">Get Report for the confirmed payments</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>