<div class="modal fade" id="types" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="typesLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="typesLabel">List Packages Types within 2 dates</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/reports/types" method="post">
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <label for="firstDate">First Date</label>
              <input type="date" class="form-control" id="firstDate" name="firstDate" placeholder="First Date">
            </div>
            <div class="col">
              <label for="secondDate">Second Date</label>
              <input type="date" class="form-control" id="secondDate" name="secondDate" placeholder="Last Date">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Get Report</button>
        </div>
      </form>
    </div>
  </div>
</div>